<div class="container text-center">
    <h1>About page</h1>
    <p>We are DevMatch. Our company focuses on creating an exclusive community
    for developers and entrepreneurs to meet. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, optio, quasi, laboriosam vel accusantium iste cumque at perferendis quia voluptates hic eveniet perspiciatis repellat delectus cum aperiam sunt dolore quam.
    </p>
</div>    